div.carousel-image img {
  height: 480px;
  max-width: 100%;
  width: auto;
  object-fit: cover;
}

@media only screen and (min-width: 1300px) {
  div.carousel-image img {
    height: 480px;
    max-width: 100%;
    width: 1080px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 300px) and (max-width:600px) {
    div.carousel-image img {
      height: 480px;
      max-width: 100%;
      width: auto;
      object-fit: cover;
    }
  
  }

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  div.carousel-image img {
    height: 480px;
    max-width: 100%;
    width: 900px;
    object-fit: cover;
  }
}

.main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outer-div-courses{
    display: flex;
    justify-content: space-between;
}
.outer-div-courses div{
    background-color: rgb(143, 196, 231);
}

.outer-div-courses div p:first{
    border: 1px solid black;
}
